a.home { color: rgb(0, 0, 0); text-decoration: none; }
p { font-family: verdana; font-size: 10pt; }
p.title { font-family: verdana; font-size: 14pt; }
li { font-family: verdana; font-size: 10pt; }
em { font-family: verdana; font-size: 10pt; }
td { font-family: verdana; font-size: 10pt; }
table.about { float: right; }
